<nav class="navbar navbar-dark sticky-top bg-dark-sky flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">مراصد التقنية</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="البحث" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">تسجيل الخروج</a>
        </li>
    </ul>
</nav>