<div id="viewDiv"></div>
<div id="sketchPanel" class="esri-widget">
    <button id="extrudedPolygon" data-type="polygon" class="esri-button">
        Draw a building
    </button>
    <button id="point" data-type="point" class="esri-button">
        Draw a point of interest
    </button>
    <button id="line" data-type="polyline" class="esri-button">
        Draw a route
    </button>
</div>