@font-face {
  font-family: FrutigerLTArabic;
  src: url('../fonts/FrutigerLTArabic/FrutigerLTArabic.ttf') format('truetype');
}

html,
body,
*{
font-size: 14px !important;
font-family: "FrutigerLTArabic", "Open Sans", "Verdana", "sans-serif" !important;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#sketchPanel {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.esri-button {
  margin: 2px;
}

.bg-dark-sky{
  background-color: #1a5da0!important;
}